<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classifier</title>
</head>
<body>
{{nt|safe}}

<form action = "/{{number}}" method="post">
    <label for = "okna"> <span style="color:Blue;"> okna </span> </label>
    <input type="text" name="okna" required> <br>
    <label for = "klima"> <span style="color:Red;"> klimatyzacja </span> </label>
    <input type="text" name="klima" required> <br>
    <label for = "kuchnia"> <span style="color:Green;"> kuchnia </span> </label>
    <input type="text" name="kuchnia" required> <br>
    <button type="submit"> confirm </button>
</form>
</body>
</html>